</body>
<footer>
	<div class ="footer_text">
	<p class ="footer_link">Impressum</p>
	<p class ="footer_link">Datenschutzerklärung</p>
	</div>
</footer>
<div class ="copyright">
		<div class= "copyright2017"><p class ="copyright1">Copyright 2017 by DSFA Project Consortium /	Theme by Colorlib Powered by WordPress</p></div>
</div>
	<script src="jquery-3.2.1.slim.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</html>